<!-- Begin Rules List Section -->
<section id="latest-news"   >
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h6 style="font-weight:bolder;" class="text-left">General</h6>
            <p class="text-left">
                GDG DevFest Omsk consists of one-day hackathon (December 14), which is coming after a short educational seminar (December 13).
            </p>
            <p class="text-left">
                Themes of GDG DevFest 2014:
                <ol class="text-left">
                    <li>Wearable Devices</li>
                    <li>Modern Web-Frontend</li>
                    <li>Augmented &amp; Virtual Reality</li>
                </ol>
            </p>
            <p class="text-left">
                It is required that you use at least one of theme technologies in the list below:
                <ul class="text-left">
                    <li>Polymer, Web Componets, AngularJS, Dart, БЭМ</li>
                    <li>Android Wear SDK, Pebble SDK, Apple iWatch SDK</li>
                    <li>Glass Mirror API, Glass Development Kit</li>
                    <li>Cardboard VR SDK, Oculus SDK</li>
                </ul>
            </p>
            <p class="text-left">
                To take part you should perform the following steps:
                <ol class="text-left">
                    <li>Come up with original idea</li>
                    <li>Gather your team</li>
                    <li>Apply for the event</li>
                    <li>Get approval from the organizers</li>
                </ol>
            </p>
            <h6 style="font-weight:bolder;" class="text-left">Idea</h6>
            <p class="text-left">
                The secret of successful idea is that it's simple and interesting for you to make. We do not encourage you to impress others with complexity, yet well-built realization is the key to win.
            </p>
            <h6 style="font-weight:bolder;" class="text-left">Team</h6>
            <p class="text-left">
                Required team size is 2-3 participants. Team members and idea must be determined by the time of application! Well-built team and role playing are vital for successful programming on hackathons, so you are strongly recommended to discuss your idea and roles before the event.
            </p>
            <h6 style="font-weight:bolder;" class="text-left">Application</h6>
            <p class="text-left">
                Use TimePad service to apply for the DevFest. It is important to select number of tickets equal to number of members of your team. Be careful while filling in the application form. Once you finish, organizers will consider your team to be event participants.
            </p>
            <h6 style="font-weight:bolder;" class="text-left">Approval</h6>
            <p class="text-left">
                In case your idea corresponds to the regulations above, sounds realistic and is practically perspective, you are likely to get approved in a couple days from application day. Approval is sent in a form of a special letter, containing tickets. Only ticket-holders can take part in the event.
            </p>
            <p class="text-left">
                In the other case you will get a letter of disapproval. If your application was disapproved, feel free to apply again with a different idea.
            </p>
            <h6 style="font-weight:bolder;" class="text-left">Seminar</h6>
            <p class="text-left">
                Every ticket holder is suggested to pay a visit on the educational and discussional seminar, which takes place on a precending day, December, 13th. During the seminar we will go through some useful hackathon theory and talk on any topic chosen by participants.
            </p>
            <h6 style="font-weight:bolder;" class="text-left">Prizes</h6>
            <p class="text-left">
                We have a number of really cool prizes for good projects! However, it is well-known that trueЪ Siberians go on hackathons to keep themselves on the edge of their seats, overwhelmed by unique atmosphere and drive, disparate experience and top-level projects, all combined with new professional contacts! So we will keep it a secret what are prizes this year until the final ceremony ;-)
            </p>

        </div>
    </div>
</section>
<!-- End Rules List Section -->