<!-- Begin Sponsors Section -->
<section id="sponsors" class="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Partners</h3>
            <ul class="list-inline">
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/google.svg" alt="sponsor-1">
                    </a>
                </li>
                <!--li> fixme
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-omsk.svg" alt="sponsor-2">
                    </a>
                </li-->
            </ul>
            <!--h5>Information partners</h5>
            <ul class="list-inline">
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/google.svg" alt="sponsor-1">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-lviv.svg" alt="sponsor-2">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-x.svg" alt="sponsor-3">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/google.svg" alt="sponsor-1">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-lviv.svg" alt="sponsor-2">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-x.svg" alt="sponsor-3">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/google.svg" alt="sponsor-1">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-lviv.svg" alt="sponsor-2">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-x.svg" alt="sponsor-3">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/google.svg" alt="sponsor-1">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-lviv.svg" alt="sponsor-2">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-x.svg" alt="sponsor-3">
                    </a>
                </li>
            </ul-->
            <span class="btn btn-primary waves-element waves-button waves-light waves-will-raise">
                <a href="{{site.c4partnersUrl}}">Become a partner</a>
			     <!--a href="{{ site.baseurl | append: site.c4sponsorsUrl }}">Become a sponsor</a-->
            </span>

            <!--span class="btn btn-primary waves-element waves-button waves-light waves-will-raise"> fixme
                 <a href="{{ site.baseurl | append: site.c4sponsorsUrl }}">Become a info parther</a>
            </span-->
        </div>
    </div>
</section>
<!-- End Sponsors Section -->
